@import "../../utils/styles/vars";
@import "../../utils/styles/colors";
@import "../../utils/styles/typography";

.block {
  width: 272px;
  position: absolute;
  border-radius: 12px;
  background-color: $bg-1;

  &__conditions {
    display: flex;
    flex-direction: column;
  }

  &__suggestions-btn {
    @include b5;
    color: $text-3;
    width: 100%;
    text-align: center;
    margin-top: 8px;
  }
}
