// Light theme
// Background (bg)
$bg-1: #ffffff;
$bg-2: #f9fafc;
$bg-3: #f0f0f3;
$bg-4: #8d96b5;
$bg-5: #e6e8f0;
$bg-6: #d8dbe5;

// Text
$text-1: #000000e5;
$text-2: #000000b2;
$text-3: #8d96b5;
$text-4: #3300ff;
$text-5: #1f35ff4d;
$text-6: #ffffff;
$text-7: #190080;
$text-8: #ff3333e5;

// Primary
$primary-1: #3300ff;
$primary-2: #3300ff1a;
$primary-3: #f0f0f3;
$primary-4: #190080;

// Other 100%
$other-red-100: #ff3333;
$other-orange-100: #ff9500;
$other-yellow-100: #ffcc00;
$other-green-100: #00cc99;
$other-cyan-100: #3399cc;
$other-indigo-100: #7000ff;
$other-purple-100: #cc66cc;
$other-raspberry-100: #ff3366;

// Other 70%
$other-red-70: #ff3b30b2;
$other-orange-70: #ff9500b2;
$other-yellow-70: #ffcc00b2;
$other-green-70: #00cc99b2;
$other-cyan-70: #70b8db;
$other-blue-70: #1f35ff;
$other-indigo-70: #7000ffb2;
$other-purple-70: #cc66ccb2;
$other-raspberry-70: #ff2d55b2;

// Other 10%
$other-red-10: #ff3b301a;
$other-orange-10: #ff95001a;
$other-yellow-10: #ffcc001a;
$other-green-10: #00cc991a;
$other-cyan-10: #3399cc1a;
$other-indigo-10: #7000ff1a;
$other-purple-10: #cc66cc1a;
$other-raspberry-10: #ff2d551a;

// Flow 100% (fl)
$fl-red-100: #f01805;
$fl-orange-100: #fb5607;
$fl-yellow-100: #ffbe0b;
$fl-green-100: #07da35;
$fl-blue-100: #3a86ff;
$fl-dark-blue-100: #4125d0;
$fl-purple-100: #8338ec;
$fl-pink-100: #ff70ae;

// Flow 70% (fl)
$fl-red-70: #f018054d;
$fl-orange-70: #fb5607b2;
$fl-yellow-70: #ffbe0bb2;
$fl-green-70: #07da35b2;
$fl-blue-70: #3a86ffb2;
$fl-dark-blue-70: #4125d0b2;
$fl-purple-70: #8338ecb2;
$fl-pink-70: #ff70aeb2;

// Flow 30% (fl)
$fl-red-30: #f018054d;
$fl-orange-30: #fb56074d;
$fl-yellow-30: #ffbe0b4d;
$fl-green-30: #07da354d;
$fl-blue-30: #3a86ff4d;
$fl-dark-blue-30: #4125d04d;
$fl-purple-30: #8338ec4d;
$fl-pink-30: #ff70ae4d;

// Arrow
$arrow-100: #47525c;
$arrow-60: #47525c99;

// Gradient
$gradient-1: linear-gradient(227.53deg, $other-purple-100 -5.97%, $other-blue-70 100%);

// Stroke
$stroke-light-gray: #f0f0f3;
$stroke-gray: #8d96b5;
$stroke-blue: #2900cc;
$stroke-purple: #cc66cc;

// Code main (m)
$cd-m-brown: #a30000;
$cd-m-red: #b80000;
$cd-m-pink: #dc2e76;
$cd-m-dark-pink: #a71157;
$cd-m-dark-blue: #18007a;
$cd-m-cyan: #2b7eb6;
$cd-m-gren-1: #00a385;
$cd-m-green-2: #008f75;
$cd-m-green-3: #139052;

// Code dark (d)
$cd-d-purple: #602e60;
$cd-d-gray: #545478;
$cd-d-green: #526760;

// Code gray new (gn)
$cd-gn-1: #000000e5;
$cd-gn-2: #333333;
$cd-gn-3: #666666;
$cd-gn-4: #999999;
$cd-gn-5: #cccccc;
$cd-gn-6: #f0f0f3;

// Code gray (g)
$cd-g-1: #000000e5;
$cd-g-2: #4f4d54;
$cd-g-3: #83808d;
$cd-g-4: #908d9c;
$cd-g-5: #9d9aaa;
$cd-g-6: #b7b3c6;
