// Header
@mixin h1 {
  font-weight: 600;
  font-size: 72px;
  line-height: 110%;
  letter-spacing: -0.02em;
}

@mixin h2 {
  font-weight: 600;
  font-size: 64px;
  line-height: 120%;
  letter-spacing: -0.02em;
}

@mixin h3 {
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
}

@mixin h4 {
  font-weight: 600;
  font-size: 32px;
  line-height: 140%;
  letter-spacing: -0.02em;
}

// Title
@mixin t1_700 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
@mixin t1_600 {
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
}

@mixin t2_700 {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

@mixin t2u_700 {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
}

@mixin t2_600 {
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
}

@mixin t3_600 {
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
}

@mixin t4_600 {
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
}

// Body
%body {
  font-weight: 400;
  line-height: 160%;
}

@mixin b1 {
  @extend %body;
  font-size: 18px;
}
@mixin b2 {
  @extend %body;
  font-size: 16px;
}
@mixin b3 {
  @extend %body;
  font-size: 14px;
}
@mixin b4 {
  @extend %body;
  font-size: 12px;
}
@mixin b5 {
  @extend %body;
  font-size: 10px;
}

// Descriptor
%descriptor {
  line-height: 160%;
  text-transform: uppercase;
}

@mixin desc1 {
  @extend %descriptor;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.2em;
}

@mixin desc2 {
  @extend %descriptor;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.3em;
}

@mixin desc3 {
  @extend %descriptor;
  font-weight: 700;
  font-size: 14px;
}

@mixin desc4 {
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.1em;
}

// Link & Buttons
@mixin link1 {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
}

@mixin link2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

@mixin link3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
}

@mixin link4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

@mixin link5 {
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
}

@mixin link6 {
  font-weight: 600;
  font-size: 12px;
  line-height: 160%;
}

// Conjuction
@mixin conj1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

@mixin conj2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

@mixin conj3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

@mixin conj4 {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

@mixin conj5 {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
}

@mixin conj6 {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

// Node
%node {
  font-weight: 400;
  letter-spacing: 0.04em;
}

@mixin node1 {
  @extend %node;
  font-size: 14px;
  line-height: 17px;
}

@mixin node2 {
  @extend %node;
  font-size: 13px;
  line-height: 16px;
}

@mixin node3 {
  @extend %node;
  font-size: 12px;
  line-height: 15px;
}

// Probability & Priority
@mixin prob1 {
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.04em;
}
