@import "../../utils/styles/vars";
@import "../../utils/styles/colors";
@import "../../utils/styles/typography";

.node {
  @include node1;
  position: relative;
  min-height: 21px;
  padding: 4px 6px;
  background-color: $text-6;
  font-family: $canvas-main-font;
  color: $text-1;
  border: 2px solid transparent;

  &:hover {
    background-color: $other-orange-10;
  }

  &:active {
    border-color: $other-orange-100;
  }

  &_type_response:hover {
    background-color: $other-cyan-10;
  }

  &_type_response:active {
    border-color: $other-cyan-100;
  }

  &_type_response {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    border-radius: 12px 12px 0px 0px;
    border-bottom-color: $primary-2;
    padding: 8px 6px;
  }

  &_type_starter:hover {
    background-color: $other-green-10;
  }

  &_type_starter:active {
    border-color: $other-green-100;
  }

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    column-gap: 6px;
  }

  &_type_starter &__container {
    align-items: center;
  }

  &__name {
    word-break: break-all;
  }

  &_type_response > &__container > &__name {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__desc {
    color: $text-3;
  }

  &__marker {
    width: 4px;
    border-radius: 2px;
    background-color: $other-orange-100;
  }

  &_type_response &__marker {
    background-color: $other-cyan-100;
  }

  &_type_starter &__marker {
    background-color: transparent;
    width: fit-content;
    height: 100%;
  }

  &__priority {
    @include prob1;
    color: $text-3;
    align-self: center;
  }

  &__func-icon {
    color: $text-3;
  }

  &__add-transition-btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    width: 12px;
    height: 12px;
    background: $text-6;
    border: 3px solid $text-3;
    border-radius: 50%;
    display: none;

    &::after {
      content: "+";
      position: absolute;
      font-size: 20px;
      font-weight: 900;
      color: $text-3;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -60%);
      display: none;
    }

    &:hover,
    &:active {
      width: 24px;
      height: 24px;
      background: $bg-2;
      border: 1.5px solid $text-3;

      &::after {
        display: block;
      }
    }

    &_child {
      top: 100%;
      right: 50%;
      z-index: 1;
    }
  }

  &:hover > &__add-transition-btn,
  &:active > &__add-transition-btn {
    display: block;
  }

  &__fallback {
  }
}
